body {
    min-height: 10%;
    min-width: 5%;
    text-align: center;
}
span {
    font-family: 'Overpass', serif;
    font-size: 90px;
}
span:active, span:hover {
    text-decoration: underline;
    cursor: crosshair;
}
