body{
    min-height:10%;
    min-width:5%;
    text-align:center;
}span{
    font-family:'Cabin';
    font-size:90px;
}span:hover{
    text-decoration:underline;
    cursor:crosshair;
}.credit-bar{
    position:absolute;
}
