body {
    min-height: 10%;
    min-width: 5%;
    text-align: center;
}

span {
    font-family: 'Overpass', serif;
    font-size: 90px;
}

span:hover, span:active {
    text-decoration: underline;
    cursor: crosshair;
}
